@model Book
<div>
    <h3> Title:  @Model.Title</h3>
    <p> Author First Name: @Model.AuthorFirstName</p>
    <p> Author Last Name: @Model.AuthorLastName</p>
    <p> Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p> Classification: @Model.Classification</p>
    <p>Category: @Model.Category</p>
    <p> Price:$@Model.Price</p>
    <p> Page Number: @Model.PageNumber</p>
</div>

